.pirho-graph-view
{
	flex-grow: 1;
}

.pirho-graph-view__toolbar
{
	flex-direction: row;
	padding-left: 5px;
	padding-right: 5px;
	align-items: center;
	font-size: 10px;
}

.pirho-graph-view__toolbar__button
{
	border-color: #000;
	border-right-width: 1px;
	background-color: #D0D0D0
}

.pirho-graph-view__toolbar__button:active
{
	background-color: #C0C0C0
}

.pirho-graph-view__toolbar__button--large
{
	min-width: 60px;
	color: #000;
	padding: 0 5px;
	margin: 0 0 0 0;
}

.pirho-graph-view__toolbar__button--small
{
	width: 28px;
	padding: 0 6px;
	height: 14px;
}

.pirho-graph-view__toolbar__button--lock
{
	padding: 2px 8px 1px 8px;
	height: 14px;
}

.pirho-graph-view__toolbar__button--active
{
	background-color: #F6F6F6
}

.pirho-graph-view__toolbar__button--first
{
	border-left-width: 1px;
}

.pirho-graph-view__graph
{
	flex-grow: 1;
	background-color: #202020;
}

.pirho-graph-view__node.node
{
}

.pirho-graph-view__node--default.node
{
}

.pirho-graph-view__node--comment.node
{
}

.pirho-graph-view__node__callstack-border
{
	display: none;
	border-width: 2px;
	border-radius: 8px; 
}

.pirho-graph-view__node__callstack-border--break
{
	display: flex;
	border-color: #FF3232;
}

.pirho-graph-view__node__callstack-border--in--callstack
{
	display: flex;
	border-color: #4BC84B;
}

.pirho-graph-view__node__callstack-border--active-in-callstack
{
	display: flex;
	border-color: #00E600;
}

.pirho-graph-view__node__rename-button
{
	width: 16px;
	height: 16px;
	align-self: center;
	visibility: hidden;
	margin-left: 8px;
}

.pirho-graph-view__node__rename-button:hover
{
	background-color: #2B2B2B;
}

.pirho-graph-view__node:hover .pirho-graph-view__node__rename-button
{
	visibility: visible;
}

.pirho-graph-view__node__delete-button
{
	width: 12px;
	height: 12px;
	align-self: center;
	visibility: hidden;
	margin: 0 8px;
}

.pirho-graph-view__node:hover .pirho-graph-view__node__delete-button
{
	visibility: visible;
}

.pirho-graph-view__node__delete-button:hover
{
	background-color: #2B2B2B;
}

.pirho-graph-view__node__breakpoint-container
{
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 5px;
}

.pirho-graph-view__node__breakpoint-button
{
	width: 14px;
	height: 14px;
	border-radius: 12px;
	align-self: center;
	opacity: 0.0;
}

.pirho-graph-view__node__breakpoint-container:hover .pirho-graph-view__node__breakpoint-button
{
	background-color: #900;
	opacity: 1.0;
}

.pirho-graph-view__node__breakpoint-container:active .pirho-graph-view__node__breakpoint-button
{
	background-color: #700;
	opacity: 1.0;
}

.pirho-graph-view__node__breakpoint-button--active
{
	background-color: #F00;
	opacity: 1.0;
}

.pirho-graph-view--breakpoints-disabled .pirho-graph-view__node__breakpoint-container:hover .pirho-graph-view__node__breakpoint-button
{
	background-color: #755;
	opacity: 1.0;
}

.pirho-graph-view--breakpoints-disabled .pirho-graph-view__node__breakpoint-container:active .pirho-graph-view__node__breakpoint-button
{
	background-color: #533;
	opacity: 1.0;
}

.pirho-graph-view--breakpoints-disabled .pirho-graph-view__node__breakpoint-button--active
{
	background-color: #A55;
	opacity: 1.0;
}

.pirho-graph-view__node__editable-label
{
	flex-grow: 1;
	padding: 0;
	margin: 0;
	background-color: #3D3D3D;
}

.pirho-graph-view__node__editable-label > TextInput
{
	padding: 0;
	margin: 0;
}

.pirho-graph-view__node__port.port
{
	--port-color: #F0F0F0
}

.pirho-graph-view__node__port--in-callstack.port
{
	--port-color: #FF3232;
}

.pirho-graph-view__node__port--input.port
{
}

.pirho-graph-view__node__port--output.port
{
}