MessageBox
{
	background-color: #A5A5A5;
	border-width: 1px;
	border-color: #000000;
	flex-direction: row;
	padding: 5px;
	align-items: center;
	max-height: 100px;
	margin: 5px 0;
}

MessageBox > Image
{
	min-width: 32px;
	min-height: 32px;
	max-width: 32px;
	max-height: 32px;
}

MessageBox > Label
{
	-unity-text-align: middle-center;
	margin: 0 5px;
	flex-shrink: 1;
	white-space: normal;
}
