.pirho-placeholder
{
	flex-grow: 1;
}

.pirho-placeholder__input
{
	flex-grow: 1;
	margin-left: 0;
	margin-right: 0;
}

.pirho-placeholder__text
{
	position: absolute;
	padding: 2px 3px 3px 3px;
	opacity: 0.5;
	cursor: text;
}
