.pirho-variable-reference
{
	flex-direction: row;
}

.pirho-variable-reference__mode
{
	min-width: 23px;
	max-width: 23px;
	min-height: 17px;
	max-height: 17px;
	align-self: flex-start;
	padding: 2px;
	margin-top: 2px;
}

.pirho-variable-reference--advanced .pirho-variable-reference__mode
{
	background-color: #6B6B6B;
}

.pirho-variable-reference--advanced .pirho-variable-reference__mode:hover
{
	background-color: #6B6B6B;
}

.pirho-variable-reference__simple
{
	display: flex;
	align-self: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.pirho-variable-reference__advanced
{
	display: none;
	align-self: center;
	flex-grow: 1;
	margin-left: 5px;
}

.pirho-variable-reference--advanced .pirho-variable-reference__simple
{
	display: none;
}

.pirho-variable-reference--advanced .pirho-variable-reference__advanced
{
	display: flex;
}

.pirho-variable-reference__simple__item
{
	flex-direction: row;
	margin-left: 5px;
}

.pirho-variable-reference__simple__item--empty
{
	min-width: 20px;
}


.pirho-variable-reference__simple__item--empty .unity-popup-field__input
{
	min-width: 20px;
	max-width: 20px;
}

.pirho-variable-reference__simple__item__popup .unity-popup-field__input
{
	padding-right: 20px;
	min-width: 0;
}

.pirho-variable-reference__simple__item__popup
{
	margin: 1px 0px;
}


.pirho-variable-reference__simple__item--empty .pirho-variable-reference__simple__item__popup PopupTextElement
{
	visibility: hidden;
}

.pirho-variable-reference__simple__item__combo-box
{
}

.pirho-variable-reference__simple__item__array-index
{
	min-width: 25px;
	margin: 1px 0px;
}

.pirho-variable-reference__simple__item__array-index > IntegerInput
{
	border-width: 1px;
	padding: 1px 2px;
}

.pirho-variable-reference__advanced__text
{
	margin: 1px 0px;
}