.pirho-serialized-variable-dictionary
{
}

.pirho-serialized-variable-dictionary__item
{
	flex-direction: row;
}

.pirho-serialized-variable-dictionary__item__label
{
	width: 100px;
	margin: 1px 0px;
	padding-top: 2px;
	align-self: flex-start;
}

.pirho-serialized-variable-dictionary__item__variable
{
}
