.pirho-variable-reference-text
{
	flex-grow: 1;
	display: none;
	position: absolute;
}

.pirho-variable-reference-text--open
{
	display: flex;
}

.pirho-variable-reference-text__scroll-view
{
	flex-grow: 1;
}

.pirho-variable-reference-text__item
{
	background-color: #FFF;
	white-space: nowrap;
}

.pirho-variable-reference-text__item--active
{
	background-color: #CCF;
}
