.pargon-value-definition
{
	flex-grow: 1
}

.pargon-value-definition .row
{
	flex-direction: row;
	align-items: center;
}

.pargon-value-definition .constraint
{
}

.pargon-value-definition .constraint .input
{
	margin: 0;
	flex-grow: 1;
	flex-basis: 1px;
}

.pargon-value-definition .number-constraint
{
	flex-grow: 1;
}

.pargon-value-definition .number-constraint > Label
{
	padding: 0 5px;
}
