.pargon-placeholder
{
	flex-grow: 1;
}

.pargon-placeholder .input
{
	flex-grow: 1;
	margin-left: 0;
	margin-right: 0;
}

.pargon-placeholder .text
{
	position: absolute;
	padding: 2px 3px 3px 3px;
	opacity: 0.5;
}
