.pirho-history
{
}

.pirho-history__toolbar
{
}

.pirho-history__toolbar-button
{
}

.pirho-history__list
{
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
}

.pirho-history__list-item
{
	flex-direction: row;
	flex-grow: 1;
}

.pirho-history__list-item-label
{
	padding-left: 6px;
	align-self:center;
}

.pirho-history__list-item-label--current
{
	-unity-font-style: bold;
}
