.pirho-combo-box
{
	flex-direction: row;
	flex-grow: 1;
}

.pirho-combo-box__text
{
	flex-grow: 1;
}

.pirho-combo-box__button
{
	width: 17px;
	height: 17px;
	align-self: center;
	padding: 5px 3px;
	background-color: #CCC;
	border-color: #777;
	border-width: 1px;
	margin-bottom: 2px;
	margin-left: -1px;
}

.pirho-combo-box__button:hover
{
	background-color: #FFF;
}

.pirho-combo-box__button:active
{
	background-color: #999;
}