.pirho-variable-definition
{
}

.pirho-variable-definition__name
{
	color: #000000;
	-unity-font-style: bold;
}

.pirho-variable-definition__name--none
{
	display: none;
}

.pirho-variable-definition__type
{
	margin: 1px 0px;
}

.pirho-variable-definition__constraint
{
}

.pirho-variable-definition__constraint__number
{
	flex-direction: row;
}

.pirho-variable-definition__constraint__number__container
{
	flex-direction: row;
	flex-grow: 1;
}

.pirho-variable-definition__constraint__number__label
{
	align-self: center;
	margin: 0px;
}

.pirho-variable-definition__constraint__number__toggle
{
	align-self: center;
	margin: 0px 5px;
}

.pirho-variable-definition__constraint__number__field
{
	visibility: hidden;
	margin: 1px 0px;
	flex-grow: 1;
	flex-shrink: 0;
}

.pirho-variable-definition__constraint__number__field--has-value
{
	visibility: visible;
}

.pirho-variable-definition__constraint__number__field--min
{
}

.pirho-variable-definition__constraint__number__field--max
{
}

.pirho-variable-definition__constraint__list__item
{
	margin: 1px 0px;
}